<!-- Begin Profile -->
<% if @user==current_user %>
<div class="container">
<div class="page-header">
<h4>Live Feed<small> All the latest updates</small></h4>
  </div>
<% @microposts.each do |micropost| %>
  <div class="row">
    <div class="col-lg-2">
      <a href="#" class="thumbnail d-profile">
        <%  @startup=Startup.find(micropost.startup_id) %>
        <% if @startup.pic_file_name %>
         <%= image_tag(@startup.pic.url(:thumb),:class=>"news-image") %>
        <% else %>
                 <%= image_tag("logo.png",:class=>"news-image") %> 
        <% end %>
    </a>
    </div>
    <div class="col-lg-10 ">
      <h6 class="demo-panel-title"><%=link_to @startup.name,@startup %></h6>
          <div class="share mrl">
            <ul>
              <li>
                <p><%= micropost.content %></p>
              </li>
            <li><small>Posted <%= time_ago_in_words(micropost.created_at) %> ago</small></li>
            </ul>
            
          </div> <!-- /share -->
          
    </div>
   </div>
<% end %>
<%= will_paginate @microposts %>
</div>

<% else %>
<div class="pro-details">
<div class=" ">
  <div align="center">
    <% if @user.pic_file_name %>
                <%= image_tag @user.pic.url(:thumb) %><br><br>
            <% else %>
                 <%= image_tag("profile.jpg") %><br><br> 
           <% end %>
    <h2><%= @user.fname %>&nbsp<%= @user.lname %></h2>
  </div><br>
  <div class="well">
    <div class="row">
      <div class="col-xs-4">
        <h6>
          About        
        </h6>
        <hr>
        <div class="">
           <% if @user.bio %>
          <%= @user.bio %>
        <% else %>
           This is dummy content.Profile is not yet updated.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. 
          <% end %>
        </div>
      </div>
      <div class="col-xs-4">
        <h6>
          Education and Experience
        </h6>
        <hr>
        <div class="">
           <% if @user.education %>
          <%= @user.education %>
        <% else %>
           This is dummy content.Profile is not yet updated.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          <% end %>
        </div>
      </div>
      <div class="col-xs-4">
        <h6>
          Vitals
        </h6>
        <hr>
        <div class="">
          <p>Skills: <a href="#"><%= @user.skills %></a></p>
          <p>Email: <a href="#"><%= @user.email %></a></p>
          <p>Phone: <a href="#"><%= @user.email %></a></p>
          <p>Online Profile: <a href="<%= @user.github %>"><%= @user.github %></a></p>
          <p>Links:&nbsp&nbsp <a href="<%= @user.fb %>"><i class="fa fa-facebook"></i></a>&nbsp&nbsp&nbsp&nbsp<a href="<%= @user.google %>"><i class="fa fa-google-plus"></i></a>&nbsp&nbsp&nbsp&nbsp<a href="<%= @user.linkedin %>"><i class="fa fa-linkedin"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<% end %>            

